.body{
background-image: url(../Media/Img/kwallpaper-25.jpg);
background-repeat: no-repeat;
text-align: center;
background-position: center;
background-size: cover;
height: 100vh;
}
.form-body{
    border: 1px solid black     ;
    text-align: center;
    background-color:bisque;
    width:35vw;
    height: 60vh;
    vertical-align: middle;
    margin-left: 30%;
    margin-top: 10%;
    padding-top: 10%;
}
.name-section{
    display: flex;
    flex: 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: space-evenly;
}

/* .user-name{
    display: flex;
    justify-content: space-around;
    flex: 1fr 1fr;
} */
/* @media  and (max-width:) {
    
} */