/* IMAGES STYLE */
/* .img1-div{
    width: 33%;}

.img2-div{
    width: 33%;
}
.img3-div{
    width: 33%;
} */


/* FOOTER STYLE */
.foot{
    /* border: 1px solid black; */
    font-family: cursive;
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: rgba(230, 225, 225, 0.685);
    justify-content: space-around;
    padding-top: 3.125rem;
    margin-top: 9.375rem;
    line-height: 2.5rem;
    font-size: small;
    color: rgba(66, 66, 66, 0.795);
}


.foot-ul{
    list-style-type: none;
    text-align: left;
}


/* @media only screen max-width(270px)){
    
} */